@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply text-custom-primary;
        scroll-behavior: smooth !important;
    }

    body::-webkit-scrollbar {
        width: 16px;
    }

    body::-webkit-scrollbar-track {
        background: inherit;
    }

    body::-webkit-scrollbar-thumb {
        border-radius: 0;
        border: 4px solid #ffffff;
        background: #a19f9d;
    }

    .carousel-list {
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;

        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;

        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .carousel-list::-webkit-scrollbar {
        display: none;
    }

    .centerTransform {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}